/* Josh Comeau's CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Retire les margin par défaut, sauf pour dialog (qui centre le dialog sur le viewport)  */
*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antaliased;
  font-size: clamp(1rem, 0.75rem + 1vw, 2rem);
}

img,
svg {
  display: block;
  width: 100%;
}

input,
button,
select,
textarea {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
  hyphens: auto;
  text-wrap: pretty;
}

/* MES VARAIBLES */
:root {
  --white-color: #fffffe;
  --main-p-color: #232946;
  --second-p-color: #b8c1ec;
  --red-color: #e16162;
  --green-color: #abd1c6;
}

button {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* HEADER */
.header {
  background-color: var(--main-p-color);
  padding: 18px 24px;
}

.header h1 {
  color: var(--white-color);
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header .logo-svg {
  width: 64px;
  fill: var(--white-color);
}

.header .logo-svg path {
  stroke: var(--second-p-color);
  stroke-width: 15;
}

.header-explanation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4.8rem;
}

.header-explanation h2 {
  color: var(--white-color);
  margin-bottom: 20px;
}

.header-explanation p {
  color: var(--second-p-color);
}

.illustration svg {
  width: 500px;
  height: 400px;
  border-radius: 25% 40% 0% 40% / 60% 60% 40% 45%;
  overflow: hidden;
}

.illustration:hover .st0 {
  fill: var(--white-color);
}

.illustration:hover .st931 {
  --green-color: #50d68c;
}

.header button {
  background-color: var(--green-color);
  color: var(--main-p-color);
  font-weight: 800;
  margin-left: 4.8rem;
}

/* TABLE */
.container {
  margin-top: 28px;
  padding: 12px 18px;
  background-color: var(--white-color);
}

#table-book {
  width: 90%;
  margin: 0 auto;
}

#table-book thead tr {
  color: var(--main-p-color);
}

#table-body tr {
  color: var(--main-p-color);
  font-size: 1.13rem;
}

th,
td {
  padding: 12px 18px;
  text-align: center;
  border-bottom: solid 1px var(--second-p-color);
}

#table-book .book-status {
  background-color: var(--white-color);
  border: solid 1px var(--main-p-color);
}

#table-book .btn-delete {
  background-color: var(--red-color);
  color: var(--white-color);
}
